.vscode
brutal/bd21-changelog.txt
brutal/BRUTAL DOOM MANUAL.rtf
brutal/icon.png
brutal/brutalv21.pk3
brutal/banner.jpg 
brutal/logo.png
brutal/artwork.jpg
sigil/banner.jpg
sigil/logo.jpg
sigil/icon.png
sigil/artwork.jpg
sigil/SIGIL_v1_21.wad
sigil/SIGIL_COMPAT_v1_21.wad
sigil/SIGIL_instructions.txt 
sigil/SIGIL_v1_21.txt
artwork.png
banner.jpg 
logo.png
load-repo
update-repo
make-package
commit
commit-all
add-file
print-version
makepkz
gzdoom-run-gui.rkt~
