[Desktop Entry]
Type=Application
Exec=gzdrun
Icon=gzdoom
Name=GZDoom Run
Categories=Game;ActionGame;
Comment=A utility for loading mods to GZDoom more dynamically