[Desktop Entry]
Type=Application
Exec=gzdoomrun SIGIL_v1_21
Icon=romero-sigil
Name=SIGIL
Categories=Game;ActionGame;
Comment=The Unofficial 5th episode of DOOM by Romero Games. 