[Desktop Entry]
Type=Application
Exec=gzdoomrun brutalv21
Icon=brutal-doom
Name=Brütal Doom
Categories=Game;ActionGame;
Comment=A gameplay modification for GZDoom which emphasizes and exaggerates the fast pace and violence of a Doom game. 